/* ---------------------------------------- */
/* VARIABLES */
/* ---------------------------------------- */

$breakpoint-medium: 		720px;
$breakpoint-large: 			1024px;

$width-container: 			978px;

$font-main:					16px;

$gutter:					.625em;
$height-header: 			6.375rem; /*102px if 16*/

$color-main: 				#333;
$color-secondary: 			#999;
$color-inactive: 			#ccc;
$color-inactive-secondary: 	#666;
$color-active: 				#000;
$color-highlight: 			#cc0033;

$color-table-bg:			#f5f6f6;
$color-table-border:		#e3e4e4;
$color-table-red:			#d74345;
$color-table-green:			#88c504;
$color-table-link:			#282d30;

/* ---------------------------------------- */
/* MIXINS */
/* ---------------------------------------- */

@mixin column-1-width {
	width: calc(100% - 1.25rem);
}

@mixin column-2-width {
	width: calc(50% - 1.25rem);
}

@mixin column-3-width {
	width: calc(33.33% - 1.25rem);
}

/* ---------------------------------------- */
/* STYLES */
/* ---------------------------------------- */

*,
:after,
:before {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       		box-sizing: border-box;
}

html {
	font-size: $font-main;
	font-family: 'Roboto', sans-serif;
	color: $color-main;
}

h1 {
	margin: .714em 0;
	font-size: 2.625em;
	text-align: center;
}

.container {
	max-width: $width-container;
	margin: 0 auto;

	&:after {
	    content: "";
	    display: block;
	    clear: both;
	}
}

/* ---------------------------------------- */
/* SMALL DEVICE (<360px) */
/* ---------------------------------------- */

.header {
	height: 80px;
	background-color: $color-main;

	&__logo {
		position: relative;
		left: 4px;
		top: 11px;
		max-width: 498px;
		width: 299px;
		vertical-align: middle;
	}
}

.form {
	font-size: 0;
}

.form-block {
	position: relative;
	display: inline-block;
	@include column-1-width;
	margin: 0 .625em 1.6875em;
	font-size: $font-main;
	vertical-align: middle;

	.form-count {
		display: inline-block;
		vertical-align: middle;
		margin-right: 4.5em;
		padding-left: 2em;
		font-size: .75em;
		color: $color-active;

		&:last-child {
			margin-right: 0;
		}

		&__checkbox {
			display: none;

			&:checked + .form-count__text::after {
				display: block;
			}
		}

		&__text {
			position: relative;

			&::before {
				content: "";
				display: block;
				position: absolute;
				left: -2em;
				top: -0.2em;
				width: 1.33em;
				height: 1.33em;
				margin-right: .5em;
				border: 1px solid $color-inactive;
				border-radius: 2px;
			}

			&::after {
				content: "";
			    position: absolute;
			    left: -1.75em;
			    top: .1em;
			    display: none;
			    width: .8em;
			    height: .5em;
			    border-bottom: 2px solid $color-highlight;
			    border-left: 2px solid $color-highlight;
			    transform: rotate(-45deg);
			}

			&:hover {
				cursor: pointer;

				&::before {
					border-color: $color-highlight;
				}
			}
		}
	}

	.form-switch {
		display: inline-block;
		margin-right: 4.33em;
		padding-left: 4.08em;
		font-size: .75em;
		color: $color-inactive-secondary;

		&:last-child {
			margin-right: 0;
		}

		&__checkbox {
			display: none;

			&:checked + .form-switch__text::before {
				background-color: $color-inactive;
			}

			&:checked + .form-switch__text::after {
				transform: translateX(100%);
			}
		}

		&__text {
			position: relative;

			&::before {
				content: "";
				display: block;
				position: absolute;
				left: -4.08em;
				top: -0.4em;
				width: 3.33em;
				height: 1.66em;
				margin-right: .83em;
				border: 1px solid $color-inactive;
				border-radius: .83em;
				transition: background-color .5s ease;
			}

			&::after {
				content: "";
				display: block;
			    position: absolute;
			    left: -4.08em;
				top: -0.4em;
				width: 1.66em;
				height: 1.66em;
			    background-color: $color-highlight;
			    border-radius: .83em;
			    transition: transform .5s ease;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	&__text {
		width: 100%;
		height: 3.34em;
		padding: 0 .83em;
		border: 1px solid $color-inactive;
		border-bottom-width: 2px;
		font-size: .75em;
		color: $color-active;
		outline: none;

		&:hover {
			border-bottom-color: $color-highlight;
			cursor: pointer;
		}

		&:focus {
			border-bottom-color: $color-active;

			& + .form-block__label-text {
				transform: translateY(-2.66em);
			}
		}
	}

	&__label-text {
		position: absolute;
		left: .83em;
		top: 1.25em;
		font-size: .75em;
		color: $color-secondary;
		transition: transform 0.25s ease;
	}

	&__button-text {
		font-weight: bold;
		color: white;
		text-transform: uppercase;

		&::after {
			content: "";
			display: inline-block;
			position: relative;
			width: .61em;
			height: .61em;
			margin-left: 0.3em;
			border-right: 3px solid white;
			border-bottom: 3px solid white;
			transform: rotate(-45deg);
		}
	}

	&--lastname {
		@include column-2-width;
	}

	&--email {
		@include column-2-width;
	}

	&--switch {
		margin-bottom: 1.9375em;
	}

	&--button {
		margin-bottom: 2.3125em;
		padding: .75em 0;
		border: none;
		border-radius: .25em;
		outline: none;
		line-height: 1;
		text-align: center;
		background-color: $color-highlight;
		cursor: pointer;
	}
}

.auto {
	h2 {
		display: none;
	}
}

.table {
	font-size: .875em;
	font-weight: 300;

	&__header {
		display: none;
	}

	&__row {
		position: relative;
		padding: 1.42em .714em;
		border-top: 1px solid $color-table-border;
		background-color: $color-table-bg;
	}

	&__cell {
		
		&--name {
			@include column-2-width;
			padding-left: .57em;
			margin-bottom: 1.28em;
		}

		&--year {
			@include column-2-width;
			padding-left: .57em;
		}

		&--color {
			position: absolute;
			top: 1.42em;
			right: 9.35em;
		}

		&--status {
			position: absolute;
			bottom: 1.4em;
			left: 5.35em;
		}

		&--price {
			position: absolute;
			top: 1.55em;
			right: 2.14em;
		}

		&--request {
			position: absolute;
			bottom: 1.1em;
			right: 1.4em;
		}
		
	}

	&__description {
		width: 200%;
		margin-top: 1.38em;
		font-size: 0.93em;
		color: $color-secondary;
	}

	&__color {
		display: inline-block;
		width: 1.35em;
		height: 1.35em;
		border: 1px solid $color-inactive;
		border-radius: 50%;
		vertical-align: top;

		&--black {
			background-color: black;
		}

		&--white {
			background-color: white;
		}

		&--gray {
			background-color: $color-inactive;
		}

		&--red {
			background-color: $color-table-red;
		}

		&--green {
			background-color: $color-table-green;
		}
	}

	&__link {
		display: block;
		padding: 0 1em;
		line-height: 2.07;
		border-radius: 1em;
		background-color: $color-table-link;
		color: white;
		text-decoration: none;
		cursor: pointer;
	}
}

.footer {
	padding-top: 3.63em; /*40px*/
	height: $height-header;
	background-color: $color-main;
	text-align: center;
	font-size: .6875em; /*11px*/
	font-weight: 300;
	color: white;

	&__copyright {
		text-transform: uppercase;
	}
}


/* ---------------------------------------- */
/* MEDIUM DEVICE (min-width:720px) */
/* ---------------------------------------- */

@media (min-width: $breakpoint-medium) {

	.header {
		height: $height-header;
		text-align: center;

		&__logo {
			left: -29px;
    		top: 2px;
			width: 498px;
		}
	}

	h1 {
		margin-top: 1.45em;
    	margin-bottom: 1.35em;
	}

	.form {
		margin-bottom: 4.2rem;
	}

	.form-block {
		@include column-3-width;
		margin-bottom: 2.125em;

		.form-count {
			margin-top:0.28em;
			margin-bottom: 1em;
		}

		.form-switch {
			margin-top: 0.5em;
			margin-right: 3.25em;
			margin-bottom: 0.71em;
		}

		&--lastname {
			@include column-3-width;
		}

		&--email {
			@include column-3-width;
		}

		&--count {
			margin-top: 0.75em;
		}

		&--switch {
			margin-top: 0.75em;
		}
	}

	.auto {
		margin-bottom: 28.7em;
		padding: 0 .625em;

		h2 {
			display: block;
			margin-bottom: 1.2em;
			padding-left: 0.6em;
			border-left: 3px solid $color-secondary;
			font-size: 1.25em;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.table {
		display: table;
		width: 100%;
		border-collapse: collapse;
		font-size: 0.9375em;
		font-weight: 300;

		&__header {
			display: table-header-group;
			font-weight: 500;
			color: white;
			background-color: $color-highlight;

			.table__cell {
				padding-top: 1em;
				padding-bottom: 1em;
			}

			.table__cell:first-child {
				border-top-left-radius: 0.2em;
			}

			.table__cell:last-child {
				border-top-right-radius: 0.2em;
			}
		}

		&__row {
			display: table-row;

			&:last-child .table__cell:first-child {
				border-bottom-left-radius: 0.2em;
			}

			&:last-child .table__cell:last-child {
				border-bottom-right-radius: 0.2em;
			}
		}

		&__cell {
			position: static;
			display: table-cell;
			padding: 0.4em 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			
			&--name {
				max-width: 18em;
				width: auto;
				padding-left: 1em;
			}

			&--year {
				min-width: 3.33em;
				max-width: 3.6em;
				padding-left: .2em;
			}

			&--color {
				min-width: 2.26em;
				max-width: 4.3em;
				text-align: center;
			}

			&--status {
				min-width: 8em;
				max-width: 8.26em;
				padding-left: .86em;
			}

			&--price {
				min-width: 8em;
				max-width: 8.13em;
				padding-left: .6em;
			}

			&--request {
				min-width: 6.66em;
				max-width: 8.2em;
				text-align: center;
			}
			
		}

		&__description {
			width: auto;
			margin-top: 0.38em;
			margin-bottom: 0;
			font-size: 0.86em;
    		white-space: normal;
		}

		&__color {
			vertical-align: bottom;
		}

		&__link {
			display: inline-block;
    		padding: 0.57em 1.43em;
    		border-radius: 1.07em;
    		line-height: inherit;
    		font-size: 0.93em;
    		color: $color-secondary;
    		background-color: transparent;
    		cursor: pointer;

    		&:hover {
    			color: white;
    			background-color: $color-table-link;
    		}
		}
	}
}

/* ---------------------------------------- */
/* LARGE DEVICE (min-width:1024px) */
/* ---------------------------------------- */
@media (min-width: $breakpoint-large) {
	.table__cell--name {
		max-width: 31.26em;
	}
}